# Build and Release Folders
bin-debug/
bin-release/
flex_bin/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
SocketAsyncServer/bin/
Setup/Autosave/
Flex/flex_bin/
Setup/*.exe
Update/Update/bin/
Update/Update/obj/
SocketAsyncServer/SocketAsyncServer/bin
SocketAsyncServer/SocketAsyncServer/obj
WebService/App_Data/Data.mdb
