/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	fontFamily:"微软雅黑";
	font-size: 16;
}

mx|Tree
{	 	
}

mx|Alert{
	borderColor: #639A3D;
	backgroundColor: #DDEF98;
	dropShadowVisible: true;
	chromeColor: #639A3D;
	titleStyleName: alertTitle;
	messageStyleName: alertMessage;
}
.alertTitle{
	fontWeight: bold;
}
.alertMessage {
}