<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "ServerIp" value = "127.0.0.1"/>
    <add key = "ServerPort" value = "12008"/>
    <add key = "DBConStr" value = "Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=F:\Workspace\上海虹口民建信息管理平台\源代码\WebService\App_Data\Data.mdb;Extended Properties="/>
  </appSettings>
</configuration>